*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-pic{
    height: 50px;
    width: 60px;
}